form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.34);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    width: 100%;
    padding: 18px 15px;
    border: 0;
}

label {
    font-weight: 600px;
    font-size: 20px;
}

select {
    border: 0;
    border-radius: 5px;
    width: 100%;
    background: rgba(217, 217, 217, 0.34);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    width: 100%;
    padding: 18px 15px;
  }
  
  select:hover {
    border-color: #aaa;
  }

  .toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: fit-content;
    border: 3px solid #8FC0A9;
    border-radius: 5px;
    background: #8FC0A9;
    font-weight: bold;
    color: #000;
    cursor: pointer;
  }
  .toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius:5px;
    background: white;
    transition: all 0.3s;
  }
  .toggleCheckbox:checked + .toggleContainer::before {
     left: 50%;
  }
  .toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
  }
  .toggleCheckbox {
    display: none;
  }
  .toggleCheckbox:checked + .toggleContainer div:first-child{
    color: white;
    transition: color 0.3s;
  }
  .toggleCheckbox:checked + .toggleContainer div:last-child{
    color: #000;
    transition: color 0.3s;
  }
  .toggleCheckbox + .toggleContainer div:first-child{
    color: #000;
    transition: color 0.3s;
  }
  .toggleCheckbox + .toggleContainer div:last-child{
    color: white;
    transition: color 0.3s;
  }