html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: comfortaa, sans-serif;
  background-color: #FFFFFD;
}

p {
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

#saved-meals-container tr:nth-last-child(2) td {
  border-bottom: 3px solid #ddd; 
}

tfoot {
  border-top: 3px solid #ddd; 
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 8px;
}



